.wrapper {
  background: linear-gradient(180deg, #FFF 26.71%, #CAE6F6 55.98%, #35789E 85.26%, #004F88 98.61%);
  padding: 0 90px ;
}

.previous-answer-box {
  max-width: 660px;
  background-color: #EEEEEE;
  margin-top: 40px;
}

.box-header {
  background-color: #CDDAE2;
  padding: 30px;
  text-align: center;
  color: #868585;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 6px;
}

.box-header h4 {
  margin: 0;
  color: #6F6F6F;
  font-size: 21px; 
  font-weight: 600;
}
.previous-question {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  background-color: #CDDAE2;
  padding: 16px;
  border-radius: 10px;
  line-height: 1.3;
}

.box-content {
  padding: 30px;
  height: 100%;
}